<%- include partials/header-logged-in.ejs %>

<div class="container">

  <div class="form-group">
    <div class="form-group">
      <div class="form-group">
      <h2 class="form-group">Edit  Rooms</h2>
      <form method="post" enctype="multipart/form-data" action="/rooms/update/<%= dataRoom.id %>" >
        <label for="add room">Room Name</label>
      <input  class="form-control" type="text" name="room_name" value="<%=dataRoom.room_name%>"/><br />
        <label for="add room">Description</label>
      <textarea class="form-control" rows="4" name="description"><%=dataRoom.description%></textarea><br />
      <input  class="form-control" type="text" name="lokasi" value="<%=dataRoom.lokasi%>" > <br />
      <!-- <label class="form-group" for="file">Input file:</label>
      <img src="<%=dataRoom.imagePath %>" alt="">
      <input class="form-group" type="file" name="imagePath"> -->
      <input class="btn btn-success" type="submit" name="sumbit" value="Update" />
      </form>
      </div>
    </div>
  </div>


</div>

</body>
</html>
