<%- include partials/header-logged-in.ejs %>

<div class="container">

  <h3><%= msg %></h3>
  <br><br>

  <% data.forEach(data=>{  %>
      <div class="col-md-6">

        <div class="thumbnail">
          <a href="getRoomById/<%- data.id%>"><img class="place" src="<%- data.imagePath%>" alt="<%- data.room_name%>"></a>
          <div class="caption">
            <h3><%=data.room_name%></h3>

            <br>
            <%=data.description%>

            <div class="text-center">
            <a href="/detail/<%= data.id %>" class="btn btn-warning">Lihat Detail</a>
            <a href="#" class="btn btn-secondary">Masukkan ke keranjang</a>

    <div class="col-md4">
      <a href="/edit/<%- data.id%>"><img src="/images/edit.png" alt="Edit"></a>
      <a href="/rooms/delete/<%- data.id%>" onclick="return confirm('Are you sure want to delete this place?')"><img src="/images/delete.png" alt="Delete" height="30px" width="30px"></a>
      <a href="/vote/<%- data.id%>"><img src="/images/fbheart.png" alt="Like"></a>&nbsp;&nbsp;
      <h4>
        <% if (data.Vote) { %>
            <%= data.Vote.count %>&nbsp;likes
        <% } else {%>
          <%= 0 %>&nbsp;likes
        <%}%>
      </h4>
    </div>
          </div>


          </div>


        </div>

      </div>
    <%  }) %>


   </div>



 </div>


<%- include partials/footer.ejs %>
